MessageSenderLibrarySol/.vs/*
MessageSenderLibrarySol/MessageSenderLibraryProj/*
MessageSenderLibrarySol/MessageSenderLib/obj/*
MessageSenderLibrarySol/MessageSenderLib/bin/*
MessageSenderLibrarySol/LibTesting/obj/*
MessageSenderLibrarySol/LibTesting/bin/*
